In [1]:
7/2

3.5

In [2]:
7//2

3

In [3]:
7.23//2.0

3.0

In [4]:
round(3.5)

4

In [6]:
import sys

In [7]:
sys.getsizeof(int)

408

In [8]:
l=[1,10,6,10]

In [14]:

v=set(l)

In [15]:

print(v)

{1, 10, 6}

In [16]:
for i in l:
 print(i,i,sep='*')

1*1
10*10
6*6
10*10

In [17]:
a=[1,2,3]

In [18]:
print(type(a))

<class 'list'>

In [19]:
a=20
b=int(20.45)
c=a+b
print(c)

40

In [20]:
a=10
b=str(a)
print(type(b))

<class 'str'>

In [21]:
a='10'
a=int(a)
print(type(a))

<class 'int'>

In [22]:
a=int(input())

123

In [23]:
print(type(a))

<class 'int'>

In [1]:
b=input()

1234

In [2]:

print(type(b))

<class 'str'>

In [3]:
a = '2'
b = '3'
 
# print the data type of a and b
print(type(a))
print(type(b))
 
# convert a using float
a = float(a)
print(type(a))
# convert b using int
b = int(b)
print(type(b)) 
# sum both integers
sum = a + b
 
# as strings and integers can't be added
# try testing the sum
print(sum)

<class 'str'>
<class 'str'>
<class 'float'>
<class 'int'>
5.0

In [4]:
a='ranveer'
b=20

In [5]:
print("the value of a={1} and b={0}".format(a,b))

the value of a=20 and b=ranveer

In [6]:
l=[]

In [7]:
print('the first name {} and last name is {}'.format('ranveer','sharma'))

the first name ranveer and last name is sharma

In [8]:
for i in range(10):
 l.append(i)

In [9]:
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
for i in l:
 print("the value is {}".format(i))

the value is 0
the value is 1
the value is 2
the value is 3
the value is 4
the value is 5
the value is 6
the value is 7
the value is 8
the value is 9

In [11]:
a=input("enter your name: ")

enter your name: raghav

In [12]:
print(a)

raghav

In [13]:
print(type(a))

<class 'str'>

In [14]:
a=int(input("enter your number"))

enter your number23

In [15]:
print(a)

23

In [16]:
print(type(a))

<class 'int'>

In [18]:

for i in range(10):
 if(i%2==0):
     print(i)
 elif(i%3==0):
     print('muntiple of 3')
 else:
     print('odd')

0
odd
2
muntiple of 3
4
odd
6
odd
8
muntiple of 3

In [19]:
for i in range(20,2,-1):
 print(i)

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3

In [20]:
a=range(0,20)
b=list(a)
print(b)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [21]:
c=[]

In [22]:
print(c)

[]

In [23]:
print(list(range(0,20)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [25]:
i=0
j=True
while(j):
 print(i)
 i=i+1
 if(i>10):
     j=False

0
1
2
3
4
5
6
7
8
9
10

In [27]:

n=int(input("enter number "))
for i in range(n):
 print(i,end=" ")

enter number 23
0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22

In [28]:
for i in range(5):
 print("hello")

hello
hello
hello
hello
hello

In [30]:

n=int(input("no of rows "))
for i in range(n):
 for j in range(n-i):
     print("*",end=" ")
 print()

no of rows 3
* * *
* *
*

In [31]:
ip="*i&nfo56@s"
s=""

In [33]:
for i in ip:
 if(i.isalpha()):
     s+=i.upper()

In [34]:
s

'INFOS'

In [35]:
ip.upper()

'*I&NFO56@S'

In [36]:
k='23@#cscASAS433'

In [38]:
for i in k:
 if(not i.isalnum()):
     print(i)

@
#